.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark * {
    color: #d6d6d6;
}
.dark .branco {
    display: block;
}
.dark .preto {
    display: none;
}
.dark .bio h1 {
    color: #d6d6d6;
}
.dark .bio h2 {
    color: #d6d6d6;
}
.dark .bio p {
    color: #d6d6d6;
}
.dark {
    color: #d6d6d6;
}
.dark .aba-n:hover {
    background: #24242446
}
.dark nav {
    background: #080808;
}
.dark .right-f {
    background: #080808;
}
@media screen and (max-width:883px) {
}
.dark h1::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark h2::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark p::selection {
    color: #080808;
    background: #d6d6d6;
}