.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark * {
    color: #d6d6d6;
}
.dark ::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark .btnf {
    background: #d6d6d6;
}
.dark .bot p {
    color: #080808;
}
.dark #branco-p{
    display: none;
}
.dark #preto-p {
    display: block;
}
.dark .branco {
    display: block;
}
.dark .preto {
    display: none;
}
.dark .ball {
    background: #080808;
}
.dark .aba-n:hover {
    background: #24242446
}
.dark nav {
    background: #080808;
}
.dark .right-f {
    background: #080808;
}
.dark  .linha {
    background: #d6d6d6;
}
.dark .busca {
    border: 1px solid #d6d6d6;
    background: #080808;
}
.dark .env-busca-mobile {
    background: linear-gradient(to top, transparent, #080808);
}
.dark #search {
    border-left: 1px solid #d6d6d6;
}
.dark #search-mobile {
    border-left: 1px solid #d6d6d6;
}
.dark .aviso {
    background: #d6d6d6;
    border-top: 1px solid #080808;
}
.dark .aviso p {
    color: #080808;
}
.dark .cookie-btn {
    background: #080808;
}
.dark .link-poli {
    color: #137547;
    text-decoration: underline;
}
.dark .filo {
    border: 1px solid #d6d6d6;
    border-bottom: none;
}
.dark .conceito {
    border: 1px solid #d6d6d6;
}
.dark .info {
    border: 1px solid #d6d6d6;
    border-top: none;
}