.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark .dark-mode {
    justify-content: flex-end;
    align-items: center;
    background: #d6d6d6;
}
.dark .ball {
    background: #080808;
}
.dark .dark-mode {
    align-items: flex-end;
    background: #d6d6d6;
}
.dark .preto {
    display: none;
}
.dark .branco {
    display: block;
}