.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark * {
    color: #d6d6d6;
}
.dark .branco {
    display: block;
}
.dark .preto {
    display: none;
}
.dark .ball {
    background: #080808;
}
.dark .dark-mode {
    align-items: flex-end;
    background: #d6d6d6;
}
.dark .bio h1 {
    color: #d6d6d6;
}
.dark .bio h2 {
    color: #d6d6d6;
}
.dark .bio p {
    color: #d6d6d6;
}
.dark {
    color: #d6d6d6;
}
.dark {
    color: #d6d6d6;
}
@media screen and (max-width:883px) {
    .dark .dark-mode {
        justify-content: flex-end;
        align-items: center;
        background: #d6d6d6;
    }
}
.dark h1::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark h2::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark p::selection {
    color: #080808;
    background: #d6d6d6;
}