.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark * {
    color: #d6d6d6;
}
.dark .preto {
    display: none;
}
.dark .branco {
    display: block;
}
.dark .filo {
    border: 1px solid #d6d6d6;
    border-right: none;
}
.dark .info {
    border: 1px solid #d6d6d6;
    border-left: none;
}
.dark .aba-n:hover {
    background: #24242446
}
.dark nav {
    background: #080808;
}
.dark .right-f {
    background: #080808;
}
.dark  .linha {
    background: #d6d6d6;
}
.dark .busca {
    border: 1px solid #d6d6d6;
}
.dark #search {
    border-left: 1px solid #d6d6d6;
}
