.dark {
    background: #080808;
    color: #d6d6d6;
}
.dark * {
    color: #d6d6d6;
}
.dark .branco {
    display: block;
}
.dark .preto {
    display: none;
}
.dark .bio h1 {
    color: #d6d6d6;
}
.dark .bio h2 {
    color: #d6d6d6;
}
.dark .bio p {
    color: #d6d6d6;
}
.dark {
    color: #d6d6d6;
}
.dark .aba-n:hover {
    background: #24242446
}
.dark nav {
    background: #080808;
}
.dark .right-f {
    background: #080808;
}
.dark  .linha {
    background: #d6d6d6;
}
.dark .busca {
    border: 1px solid #d6d6d6;
}
.dark #search {
    border-left: 1px solid #d6d6d6;
}
.dark #search-mobile {
    border-left: 1px solid #d6d6d6;
}
.dark .aviso {
    background: #d6d6d6;
    border-top: 1px solid #080808;
}
.dark .aviso p {
    color: #080808;
}
.dark .cookie-btn {
    background: #080808;
}
.dark .link-poli {
    color: #137547;
    text-decoration: underline;
}
@media screen and (max-width:883px) {
}
.dark h1::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark h2::selection {
    color: #080808;
    background: #d6d6d6;
}
.dark p::selection {
    color: #080808;
    background: #d6d6d6;
}