nav {
    background: #d6d6d6;
}
.filos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 40px;
    width: 100vw;
    height: 91vh;
}
.filo {
    display: flex;
    background: #d6d6d6;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 7px #00000081;
}
.info {
    display: none;
}