.filosaba {
    display: none;
}
.filos {
    display: block;
    flex-direction: column;
    gap: 50px;
    padding: 30px 40px;
    width: 100vw;
    height: 91vh;
}
.filo {
    display: block;
    background: #d6d6d6;
    width: 220px;
    height: 250px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 7px #00000000;
}
.link {
    margin: 25px;
    width: auto;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 180px;
    height: 250px;
    padding-left: 20px;
    padding: 10px;
    background: #d6d6d6;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #080808;
    border-left: none;
}
.info h2 {
    font-weight: normal;
    font-size: 1.1em;
    color: #080808;
}
.info p {
    color: #080808;
}