.filosaba {
    display: none;
}
.filos {
    display: block;
    flex-direction: column;
    gap: 50px;
    padding: 30px 40px;
    width: 100vw;
    height: 91vh;
}
.filo {
    display: block;
    background: #d6d6d6;
    width: 220px;
    height: 250px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 7px #00000000;
}
.link {
    margin: 25px;
    width: auto;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 180px;
    height: 250px;
    padding-left: 20px;
    padding: 10px;
    background: #0808089c;
    border-radius: 0px 5px 5px 0px;
}