html, body {
    overflow: hidden !important;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #d6d6d6;
    gap: 4vh;
    width: 5vw;
    height: 100vh;
    box-shadow: -3px -3px 5px #00000041;
    padding-top: 25px;
    transition: .3s;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 95vw;
    z-index: 999;
}
nav p {
    display: none;
    margin-left: 10px;
}
nav:hover p {
    display: block;
}
nav:hover {
    width: 20vw;

    position: absolute;
    top: 0;
    left: 80vw;
}
nav:hover .env-lista {
    justify-content: flex-start;
}
nav:hover .aba {
    padding: 2vh 0px 2vh 2vh;
    justify-content: flex-start;
}
nav:hover .aba-n {
    justify-content: flex-start;
}
.aba-n:hover {
    background: #08080846;
}
.aba-n {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 70px;
    border-radius: 0px 30px 30px 0px;
    transition: .2s;
    overflow: hidden;
}
.aba {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0px;
    width: 100%;
    height: 100%;
}
.right-f {
    display: none;
}
.env-mobile {
    display: none;
    overflow: hidden;
}
.branco {
    display: none;
}
.env-lista {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80vh;
    transition: .3s;
}
.env-mode {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: auto;
}
.dark-mode {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 25px 0px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.img {
    width: 10px;
    height: 10px;
}
@media screen and (max-width:596px) {
    body {
        background: #d6d6d6;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 9vh;
        padding-top: 1vh;
        padding: 0;
        box-shadow: 3px 3px 5px #00000046;

        position: absolute;
        top: 0;
        left: 0px;
        z-index: 999;
    }
    nav:hover {
        width: 100vw;
        height: 9vh;

        position: absolute;
        top: 0;
        left: 0px;
        z-index: 999;
    }
    .env-lista {
        display: none;
    }
    .env-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50vw;
        height: auto;
    }
    .env-linha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    .linha {
        width: 27px;
        height: 1px;
        background: #080808;
        margin: 4px;
        transition: .3s;
    }
    :active {
        background: none;
        color: none;
    }
    .l1.active {
        transform: rotate(-45deg) translate(-3px, 9px );
        width: 27px;
        margin: 7px;
    }
    .l2.active {
        display: none;
    }
    .l3.active {
        width: 27px;
        margin: 7px;
        transform: rotate(45deg) translate(-3px, -7px );
    }
    .env-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 40px 0px 0px;
        width: 50vw;
        height: auto;
    }
    .dark-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 25px;
        cursor: pointer;
    }
    main {
        height: 100vh;

        position: relative;
        top: 9vh;
    }
    .right-f {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 60vw;
        height: 90vh;
        background: #d6d6d6;
        box-shadow: -4px 4px 10px #00000046;
        border-radius: 0px 0px 0px 15px;
        transition: .3s;

        position: absolute;
        top: 9vh;
        right: -100%;
        z-index: 998;
    }
    .right-f.active {
        display: flex;
        right: 0;
    }
    .aba {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2vh 0px;
        width: 100%;
        height: 100%;
    }
    .aba p {
        margin-left: 15px;
    }
    .aba-n {
        justify-content: flex-start;
        padding-left: 15px;
        width: 95%;
    }
    .aba-n:hover {
        background: #08080846;
        padding: 0px 15px 0px 15px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }

}
@media screen and (max-height:485px) {
    body {
        background: #d6d6d6;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 9vh;
        padding-top: 1vh;
        padding: 0;
        box-shadow: 3px 3px 5px #00000046;

        position: absolute;
        top: 0;
        left: 0px;
        z-index: 999;
    }
    nav:hover {
        width: 100vw;
        height: 9vh;

        position: absolute;
        top: 0;
        left: 0px;
        z-index: 999;
    }
    .env-lista {
        display: none;
    }
    .env-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50vw;
        height: auto;
    }
    .env-linha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        cursor: pointer;
    }
    .linha {
        width: 27px;
        height: 1px;
        background: #080808;
        margin: 4px;
        transition: .3s;
    }
    .l1.active {
        transform: rotate(-45deg) translate(-3px, 9px );
        width: 27px;
        margin: 7px;
    }
    .l2.active {
        display: none;
    }
    .l3.active {
        width: 27px;
        margin: 7px;
        transform: rotate(45deg) translate(-3px, -7px );
    }
    .env-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 40px 0px 0px;
        width: 50vw;
        height: auto;
    }
    .dark-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 25px;
        cursor: pointer;
    }
    main {
        height: 100vh;

        position: relative;
        top: 9vh;
    }
    .right-f {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 60vw;
        height: 90vh;
        background: #d6d6d6;
        box-shadow: -4px 4px 10px #00000046;
        border-radius: 0px 0px 0px 15px;
        transition: .3s;

        position: absolute;
        top: 9vh;
        right: -100%;
        z-index: 998;
    }
    .right-f.active {
        right: 0;
    }
    .aba {
        margin: 10px;
    }
    .aba-n {
        justify-content: flex-start;
        padding-left: 15px;
        width: 90%;
    }
    .aba-n:hover {
        background: #08080846;
        padding: 0px 15px 0px 15px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
}