* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #080808;
    scrollbar-width: none;
    list-style: none;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: row-reverse;
    background: #d6d6d6;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vh;
    width: 5vw;
    min-width: 3vw;
    height: 100vh;
    box-shadow: -3px -3px 5px #00000041;
    padding-top: 25px;
}
.branco {
    display: none;
}
.env-lista {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 70vh;
}
.env-mode {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30vh;
}
.dark-mode {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30px;
    height: 55px;
    background: #080808;
    margin: 25px 0px;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d6d6d6;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4vh;
}
.aba {
    margin: 5vh 0px;
}
.img {
    width: 10px;
    height: 10px;
}
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95vw;
    height: 100vh;
}
.bio {
    max-width: 900px;
    height: auto;
    padding: 5vw;
    margin: auto;
}
.bio p {
    font-size: 1.2em;
    margin: 30px 0px;
    padding-left: 30px;
}
.bio h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
.bio h2 {
    font-size: 1.6em;
}
.add {
    max-width: 300px;
    height: 200px;
    background: #161616;
    margin: auto;
}
::selection {
    color: #d6d6d6;
    background: #080808;
}
@media screen and (max-width:596px) {
    body {
        display: flex;
        flex-direction: column;
        background: #d6d6d6;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-width: 3vw;
        height: 9vh;
        padding-top: 1vh;
        box-shadow: 3px 3px 5px #00000048;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 18vw;
    }
    main {
        height: 91vh;
    }
    .bio {
        height: 91vh;
    }
    .bio h1, h2, p {
        color: #080808;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-width: 3vw;
        height: 9vh;
        padding: 0;
        box-shadow: 3px 3px 5px #00000046;
    }
    .env-lista {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70vw;
        height: 100%;
        padding: 0px 40px;
    }
    .env-mode {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30vw;
        height: 100%;
    }
    .dark-mode {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 55px;
        height: 30px;
        background: #080808;
        margin: 0px 25px;
        padding: 5px;
        border-radius: 100px;
        cursor: pointer;
    }
    .ball {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #d6d6d6;
    }
}