* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #d6d6d6;
    scrollbar-width: none;
    list-style: none;
}
body {
    background-color: #d6d6d6;
    background: #080808 url('../img/outos/pexels-snapwire-6992.jpg') center no-repeat fixed;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 9vh;
    /* border-bottom: 1px solid #d6d6d6; */
}
.menu_list {
    width: 70vw;
    height: auto;
    padding-left: 10vw;
}
.busca {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 600px;
    height: auto;
    padding-right: 9vw;
}
.buscabtn {
    display: grid;
    place-items: center;
    width: 28px;
    height: 28px;
    margin: 5px;
    cursor: pointer;
    border-left: 1px solid #d6d6d6;
}
.lupa {
    width: 18px;
}
#search {
    background: #080808;
    border: none;
    /* border-bottom: 1px solid #d6d6d6; */
    padding: 3px;
}
#search:focus {
    outline: none;
}
.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 91vh;
}
.filos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 80px;
    width: 100vw;
    height: 91vh;
}
.filo {
    display: flex;
    align-items: flex-end;
    flex-basis: 20%;
    flex-grow: 1;
    background: #d6d6d6;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 7px #00000081;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: #0808089c;
    width: 100%;
    height: 50%;
    padding: 20px;
    border-radius: 15px 0px 0px 0px;
    transform: translateY(0);
    transition: .3s;
}
.filo:hover .info {
    transform: translateY(100%);
}
.info h2 {
    font-weight: normal;
    font-size: 1.1em;
}
.link {
    display: flex;
    flex-basis: 20%;
    flex-grow: 1;
    text-decoration: none;
    width: 150px;
    height: 200px;

}
.aba {
    text-decoration: none;
    font-size: 1.3em;
    color: #d6d6d6;
}
::selection {
    background: #d6d6d6;
    color: #080808;
}
.env {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    border-radius: 40px;
    height: 35px;
    padding: 4px 3px 4px 7px;
}
.infomo {
    display: none;
}
@media screen and (max-width:798px) {
    .filosaba {
        display: none;
    }
    .menu_list {
        width: 30vw;
        padding-left: 20px;
    }
    .busca {
        width: 70vw;
        padding-right: 10px;
    }
    .filos {
        display: block;
        flex-direction: column;
        gap: 50px;
        padding: 30px 40px;
        width: 100vw;
        height: 91vh;
    }
    .filo {
        display: block;
        background: #d6d6d6;
        width: 150px;
        height: 200px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 4px 4px 7px #00000000;
    }
    .info {
        display: none;
    }
    .link {
        margin: 25px;
        width: 400px;
    }
    .infomo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 150px;
        height: 200px;
        padding-left: 20px;
        padding: 10px;
        background: #0808089c;
        border-radius: 0px 5px 5px 0px;
    }
}
.lista {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 47px;
    right: 12vw;
    font-size: 1.1em;
    background: #080808f5;
    width: 190px;
    z-index: 1;
    padding: 20px;
    border-radius: 7px;
}
a {
    text-decoration: none;
    transition: .3s;
}
li > a:hover {
    opacity: 0.5;
}