* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #d6d6d6;
    scrollbar-width: none;
    list-style: none;
}
body {
    background: #d6d6d6;
}
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 9vh;
    box-shadow: 3px 3px 5px #00000046;
    padding: 0px 3vw;
}
.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 91vh;
}
.filos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 80px;
    width: 100vw;
    height: 91vh;
}
.filo {
    display: block;
    background: #d6d6d6;
    width: 220px;
    height: 250px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 7px #00000000;
    border: 1px solid #080808;
    border-right: none;
}
.link {
    display: flex;
    flex-basis: 20%;
    flex-grow: 1;
    text-decoration: none;
    min-width: 320px;
    height: 250px;
}
::selection {
    background: #d6d6d6;
    color: #080808;
}
.env {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080808;
    border-radius: 40px;
    height: 35px;
    padding: 4px 3px 4px 7px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 250px;
    padding-left: 20px;
    padding: 10px;
    background: #292929;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #080808;
    border-left: none;
}
.info h2 {
    font-weight: normal;
    font-size: 1.1em;
    color: #d6d6d6;
}
.info p {
    color: #d6d6d6;
}
a {
    text-decoration: none;
    transition: .3s;
}
li > a:hover {
    opacity: 0.5;
}
.shadow-mode {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 55px;
    height: 30px;
    background: #080808;
    margin: 0px 25px;
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
}
.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d6d6d6;
}
.shadow-mode.active {
    animation-name: mode;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}
.shadow-mode.nothing {
    animation-name: whit;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}
@keyframes mode {
    0% {
        justify-content: flex-start;
        align-items: center;
    }
    100% {
        justify-content: flex-end;
        align-items: center;
    }
}
@-moz-keyframes mode {
    0% {
        justify-content: flex-start;
        align-items: center;
    }
    100% {
        justify-content: flex-end;
        align-items: center;
    }
}
@-webkit-keyframes mode {
    0% {
        justify-content: flex-start;
        align-items: center;
    }
    100% {
        justify-content: flex-end;
        align-items: center;
    }
}
@-o-keyframes mode {
    0% {
        justify-content: flex-start;
        align-items: center;
    }
    100% {
        justify-content: flex-end;
        align-items: center;
    }
}
@keyframes whit {
    0% {
        justify-content: flex-end;
        align-items: center;
    }
    100% {
        justify-content: flex-start;
        align-items: center;
    }
}
@-moz-keyframes whit {
    0% {
        justify-content: flex-end;
        align-items: flex-end;
    }
    100% {
        justify-content: flex-start;
        align-items: center;
    }
}
@-o-keyframes whit {
    0% {
        justify-content: flex-end;
        align-items: center;
    }
    100% {
        justify-content: flex-start;
        align-items: center;
    }
}
@-webkit-keyframes whit {
    0% {
        justify-content: flex-end;
        align-items: center;
    }
    100% {
        justify-content: flex-start;
        align-items: center;
    }
}